@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/container.scss";
@import "sass/mixins.scss";

body {
    font-family: 'Raleway', sans-serif;
    background-color: $bg-beige;
    padding-top: 50px;
    font-size: 20px;
}

//========Buttons============//

button {
    border: none;
    background-color: white;
    color: rgba(196,131,152,0.8);
    font-size: 20px;
    outline: none;
}

.addButton {
    opacity: 0;
    font-size: 20px;
}

.ion-close-round,
.ion-edit{
    float: right;
}

.ion-android-done {
    float: left;
    font-size: 24px;
    padding: 0 10px;
}

.changeButton {
    float: right;
}

//========Main Container============//

#todo-container {
    position: relative;
    width: 500px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding: 15px;
    
}

h1 {
    font-size: 100px;
    line-height: 0px;
    text-align: center;
    color: rgba(196,131,152,0.3);
    font-weight: 100;
}

.hero {
    border-bottom: solid rgba(0,0,0,0.2) 1px;
}

//========Input Style============//

input {
    display: inline-block;
    border: none;
    &:focus {
        outline: none;
    }
}

::-webkit-input-placeholder {
   font-style: italic;
   color: rgba(0,0,0,0.3);
}

:-moz-placeholder { /* Firefox 18- */
   font-style: italic; 
   color: rgba(0,0,0,0.3);
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
   color: rgba(0,0,0,0.3);
}

:-ms-input-placeholder {  
   font-style: italic; 
   color: rgba(0,0,0,0.3);
}

.checkAllContainer{
    display: inline-block;
    .ion-android-checkmark-circle,
    .ion-android-radio-button-off {
        float: none;
        font-size: 24px;
        padding: 0 10px;
    }
}

.addInputContainer {
    display: inline-block;
    margin: 0 auto 10px auto;
    #addTodoTextInput{
        width: 350px;
    }
}

#editTodoTextInput {
    border-bottom: solid 1px rgba(0,0,0,0.5);
    width: 340px;
    margin-left: 50px;
}

//========List Style============//

#todoUl {
    list-style: none;
    padding: 0;
    .todoLi {
        margin: 10px 6px;
    }
}

.change {
    background-color: green;
}

.done {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    padding: 10px 15px 0 15px;
    .numberUpdate {
        font-size: 16px;
    }
}

//========Footer============//

.footer {
    font-family: 'Inconsolata';
    font-size: 12px;
    display: inline-block;
    width: 100%;
    height: 55px;
    background-color: white;
    color: black;
    vertical-align: middle;
    font-weight: normal;
    letter-spacing: 3px;
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
}

.prev-next {
    display: block;
    margin: auto;
    width: 142px;
}

.footer-logo {
    height: 35px;
    width: 35px;
    margin: 10px 10px;
    background-image: url(../../../images/jaga-logo.png);
    background-size: cover;
    float: left;
    cursor: pointer;
}


.home,
.next-article,
.prev-article {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #8e8d8e;
    font-size: 36px;
    margin: 6px;
}


.next-article:hover,
.prev-article:hover,
.home:hover {
    color: rgba(0,0,0,0.8);
}

@media screen and (max-width: 640px) {
    footer {
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer-logo {
        margin-right: 1rem;
    }
}
