@import "colors.scss";
@import "mixins.scss";


.navbar-container {
    display: block;
    width: 100%;
    height: 60px;
    z-index: 200;
    background-color: $bright-blue;
}

.nav-link {
    text-decoration: none;
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.navbar {
    list-style: none;
    font-size: 24px;
    padding-top: 20px;
    li {
        display: inline;
        padding: 20px 20px 0 0;
        &:last-child {
            padding-right: 20px;
        }
    }
}

.hamburger {
    display: none;
    color: white;
    width: 100%;
    font-size: 40px;
    padding: 10px 20px 0 0;
    text-align: right;
    &:hover {
        cursor: pointer;
    }
}

.drop-menu {
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 0;
    margin-top: 60px;
}

.drop-ul {
    background-color: $bright-blue;
    list-style:none;
    padding-left:0;
}

.drop-li {
    padding: 15px;
    font-weight: 300;
}

.drop-link {
    text-decoration: none;
    font-size: 16px;
    color: white;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

@media screen and (max-width: 620px) {
    
    .header.hidden {
        transform: translateY(0);
    }
    
    .navbar {
        display: none;
    }
    
    .hamburger {
        display: inline-block;
    }
}