@import "sass/colors.scss";
@import "sass/normalize.scss";
@import "sass/navbar.scss";
@import "sass/container.scss";
@import "sass/mixins.scss";

body {
    font-family: 'Fira Sans', sans-serif;
}

.github-link {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    background-color: $bright-blue;
    &:hover {
        text-decoration: none;
        color: white;
    }
}
