.contact-info {
    top: 4rem;
    display: table;
    position: relative;
    height: 10rem;
    width: 40rem;
    margin: 0 auto 0 auto;
    border: solid black 0.03rem;
}

.contact-content {
    text-align: center;
    padding-left: 2rem;
    padding-left: 2rem;
    position: relative;
    font-family: 'Ropa Sans', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    
}