html {
    min-height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Bitter', serif;
    color: black;
    min-height: 100%;
}

.navbar {
    height: 160px;
    background-color: white;
    padding: 30px 0;
    
}















/*
.landing {
    margin: auto;
    max-width: 64rem;
    
}

.navbar {
    position: relative;
    height: 10.6rem;
    width: 100%;
}

.logo {
    padding-top: 1rem;
    float: left;
    cursor: pointer;
}

.link-container  {
    padding-top: 0.3rem;
    float: left;
    height: 9rem;
}

.navbar-link {
    list-style-type: none;
}

.navbar-list {
    display:block;
    color: black;
    list-style-type: none;
    text-decoration: none;
    padding: 3px 0 4px 10px;
    font-weight: lighter;
    letter-spacing: 0.08rem;
    cursor: pointer;
}

.navbar-list:hover {
    color: rgb(204,204,204);
}

.landing .container {
    color: white;
    background-color: gray;
    margin-left: 10.8rem;
    min-width: 960px;
    min-height: 100%;
    
}

.about-container {
     position: relative; 
     min-height: 400px;
     background-image: url(../images/about-bg.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.about-cta {
    margin-left: 33rem;
}

.cta-container {
    height: 4rem;
    width: 17rem;
    background-color: rgb(255,255,255);
}


.cta-link{
    text-align: center;
    display: block;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding-top: 0.01rem;
    
}

.container-content {
    position: relative;
    padding-left: 30rem;
    padding-top: 2rem;
}

.home-text {
    font-size: 24px;
}

.about-text {
    text-indent: -2rem;
}

.project-container {
     position: relative; 
     min-height: 400px;
     background-color: rgb(203,203,202);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.project-content {
    position: relative;
    padding-left: 15rem;
    padding-top: 4rem;
}

.project-cta {
    margin-left: 15rem;
}

.quotes-container {
     position: relative; 
     min-height: 400px;
     background-color: rgb(235,235,99);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.quotes-content {
    position: relative;
    padding-left: 40rem;
    padding-top: 2rem;
}

.quotes-cta {
    margin-left: 34rem;
}

.contact-container {
     position: relative; 
     min-height: 300px;
     background-color: rgb(228,69,88);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
}

.contact-info {
    text-align: center;
    font-size: 50px;
    padding-top: 5rem;
}
.email-link {
    text-decoration: none;
    color: white;
}









