*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    min-height: 100%;
    margin: auto;
    max-width: 94rem;
    
}

.main-header {
    min-height: 430px;
    background-image: url(../images/header.bj.jpg);
    background-size: cover;
    background-position: center center;
}

.logo {
    height: 50px;
    float: left;
    margin: 30px 0 0 30px;
}

.nav {
    margin: 35px 30px 0 0;
    float: right;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#pull a {
    display: inline-block;
    margin-left: 20px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.nav a {
    display: inline-block;
    margin-left: 20px;
    color: rgba(0,0,0,0.5);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

#pull {
    display: none;
}


.navbar-list:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.1);
}

.head-pad {
    padding: 10px;
}

.head {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: white;
    clear: both;
    padding-top: 60px;
}

.head span {
    display: inline-block;
    padding: 0.2em 0.5em;
    border: 8px white solid ;
}

.kicker {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.about-container {
    min-height: 430px;
    background-color: #cad6d7;
    padding-top: 50px;
    color: black;
    text-align: center;
}


.main-para {
    padding: 25px;
    
    
    
}


.contact-container {
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e24040;
    transition: background 150ms ease-in-out;
}

.contact-container:hover {
    background-color: red;
}

.email-link {
    text-decoration: none;
    font-size: 36px;
    color: white;
}

.email-link:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}












.footer-wrap {
    float: left;
    width: 100%;
    background-color: #88afca ;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color: white;
}

.footer-p {
    padding-top: 20px;
    margin-left: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.09em;
}





@media screen and (max-width: 569px) {
       
    .hide-later {
        display: none;
        height: auto;
    }
    
    #pull {
        display: block;
        width: 100%;
        position: relative;
    }
    
    .head {
        font-size: 4rem;
        padding-top: 40px;
    }
    
    .email-link {
        font-size: 24px;
    }
}








@media (min-width: 570px) and (max-width: 640px) {
    
}





@media (min-width: 640px) and (max-width: 1024px){
}




























