*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 60%;
    margin: auto;
    font-size: 14px;
    color: black;
}

.table {
    margin-top: 100px;
    margin-bottom: 0px;
    display: none;
}

.active-table {
    display: block;
}
.page1 {
    line-height: 2rem;
    padding-bottom: 150px;
}

.picture-container {
    float: left;
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
    border: solid pink 3px;
}

.page2 {
    width: 80%;
    margin: 100px auto;
}

table {
    border-collapse: collapse;
}

.content {
    text-align: left;
    padding: 0 10px;
    border-bottom: 1px solid gray;
}

.head {
    font-size: 24px;
}

.sub-head {
    font-weight: lighter;
}

.continued {
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
}

.left {
    width: 30%;
    border-bottom: 1px solid gray;
}

.right {
    width: 70%;
    border-bottom: 1px solid gray;
}

.last .left{
    border-bottom: 0px;
}

.last .right {
    border-bottom: 0px;
}

.page2 .small-head {
    font-size: 14px
}

.page2 td {
    vertical-align: top;
    padding: 20px 10px;
}

.gray {
    color: gray;
    text-align: right;
}

.contact {
    width: 100%;
    
}

.clearfix {
    clear: both;
}

.menu-box {
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: white;
}

.drop-down-menu {
    position: absolute;
    bottom: 70px;
    margin-left: -70px;
    display: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 5px 20px;
    border-left: 2px white solid;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}

.resume-link {
    text-decoration: none;
    color: #898989;
}

li:hover {
    border-left: 2px #8ddbee solid;
    background-color: rgba(0,0,0,0.03);
}


.footer {
    display: inline-block;
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 10px 20px;
}

.home,
.menu,
.print {
    float: left;
}


.next {
    float: right;
}

.choices {
    display: inline-block;
    background-color: #f4f4f4;
    font-size: 20px;
    color: black;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,0.4);
    box-shadow: 0 0 7px rgba(0,0,0,0.4);
    border: solid 1px gray;
    border-radius: 5px;
    padding: 8px 13px 5px 13px;
    margin: 5px 15px;
    cursor: pointer;
}

.choices:active {
    font-size: 15px;
    color: black;
}



@media screen and (max-width: 670px) {
    .cover-letter {
        float: left;
    }
    
    .choices {
        margin: 0 3px;
    }
    
    .page2 {
        width: 100%;
    }
    
    .left {
        border-bottom: 0;
    }
    
    .left, .right {
        width: 100%;
        float: left;
    }
    
    .drop-down-menu {
        margin-left: -70px;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        width: 80%;
    }
}