@import "sass/container";

html {
    margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
}

.header {
    background: $nav-gray;
}

.hero {
    position: relative;
    width: 60%;
    margin: 120px auto 0 auto;
    font-weight: 300;
    letter-spacing: 0.06em;
    line-height: 30px;
    a {
        font-weight: 400;
        color: black;
        cursor: pointer;
    }
    .instruction {
        color: #f26964;
    }
}

.alfa {
    background: url(../images/after.png) center center no-repeat; 
    background-size: cover;
    width: 589px;
    height: 654px;
    border-radius: 3px;
    box-shadow: 0 0 1px #999, -2px 2px 3px rgba(0,0,0,.2);
    padding: 0;
    margin: 60px auto 60px auto;
    position: relative;
    overflow: hidden;
}

.bravo {
    background: url(../images/before.png) center center no-repeat; 
    background: cover;
    height: 654px;
    resize: horizontal; 
    position: absolute; 
    top: 0; left: 0; 
    min-width: 0;
    max-width: 800px;
}

.bravo:before {
    content: "";
    background: rgba(0,0,0,.7);
    font-size: 18px; 
    color: white; 
    top: 0; 
    right: 0px;
    height: 100%;
    line-height: 486px;  
    position: absolute; 
}

.charly{  
    resize: horizontal; 
    opacity: 0; 
    position: relative; 
    top: 50%;
    left: 0px; 
    margin-right: 0px;  
    width: 0px; 
    height: 0px; 
    max-width: 794px; 
    min-width: 30px; 
    outline: 0 solid transparent;
    cursor: move;
    cursor: all-scroll;
    transform: scaley(35);
    transform-origin: center center;
    animation: delta 5s 1 normal ease-in-out 1s;
    z-index: 200;
}

.before,
.after {
   display: none; 
   text-align: center;
   font-weight: 400;
}

img {
    display: none;
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 0 15px;
    border-top: solid 1px $nav-gray;
}

footer {
    background-color: white;
}

@media screen and (max-width: 605px) {
    .hero {
        width: 80%;
        margin: 90px auto;
    }
    
    footer {
         position: relative;
     }
}

@media screen and (max-width: 620px) {
    .alfa,
    .bravo,
    .instruction {
        display: none;
    }
    
    img,
    .before,
    .after{
        display: block;
    }
}

@media (min-width: 606px) and (max-width: 1157px) {
    .hero {
        width: 80%;
    }
}

@keyframes delta {
30% {width: 500px}
60% {width: 150px}
80% {width: 250px}
}
